<div class="od-charge-full">
    <div class="add-new-button">
        <ion-button><ion-icon slot="start" name="add"></ion-icon> New Charge</ion-button>
    </div>
    <div class="content-section">
        <div class="content-section-inner">
            <div class="content-sec-single-block">
                <p>Total Charge</p>
                <p>&#8377; 88350</p>
            </div>
            <div class="content-sec-single-block">
                <p>Freight Charges</p>
                <p>&#8377; 88350</p>
            </div>
        </div>
    </div>
</div>