<div class="full-status-div">
    <div class="status-tab-sec">
        <div class="status-tab-sec-inner">
            <div class="status-tab" [class.active]="activeTab === 'loading'" (click)="changeTab('loading')">
                Update Loading Point
            </div>
            <div class="status-tab" [class.active]="activeTab === 'unLoading'" (click)="changeTab('unLoading')">
                Update Unloading Point
            </div>
        </div>
    </div>
    <div class="loading-point-sec" *ngIf="activeTab === 'loading'">
        <div class="full-loading-container">
            <div class="single-block">
                <p>Order Booked</p>
                <p>09 Mar, 2021 - 10:49 AM</p>
            </div>
            <div class="single-block">
                <p>Vehicle Arrived at Loading Point</p>
                <p>09 Mar, 2021 - 10:49 AM</p>
            </div>
            <div class="single-block">
                <p>Vehicle Halted at loading Point</p>
                <p>3 Minutes</p>
            </div>
            <div class="single-block">
                <p>Vehicle Departed from Loading Point</p>
                <p>09 Mar, 2021 - 10:49 AM</p>
            </div>
        </div>
    </div>
    <div class="loading-point-sec" *ngIf="activeTab === 'unLoading'">
        <div class="full-loading-container">
            <div class="single-block">
                <p>Order Booked</p>
                <p>09 Mar, 2021 - 10:49 AM</p>
            </div>
            <div class="single-block">
                <p>Vehicle Arrived at Loading Point</p>
                <p>09 Mar, 2021 - 10:49 AM</p>
            </div>
            <div class="single-block">
                <p>Vehicle Halted at loading Point</p>
                <p>3 Minutes</p>
            </div>
            <div class="single-block">
                <p>Vehicle Departed from Loading Point</p>
                <p>09 Mar, 2021 - 10:49 AM</p>
            </div>
        </div>
    </div>
    <div class="step-section">
        <ul class="progressbar">
            <li [class.active]="activeStep >= 1" (click)="changeStep(1)">Step 1</li>
            <li [class.active]="activeStep >= 2" (click)="changeStep(2)">Step 2</li>
            <li [class.active]="activeStep >= 3" (click)="changeStep(3)">Step 3</li>
            <li [class.active]="activeStep >= 4" (click)="changeStep(4)">Step 4</li>
            <li [class.active]="activeStep >= 5" (click)="changeStep(5)">Step 5</li>
            <li [class.active]="activeStep >= 6" (click)="changeStep(6)">Step 6</li>
        </ul>
    </div>
</div>