<div class="od-document-full">
    <div class="add-new-button">
        <ion-button><ion-icon slot="start" name="add"></ion-icon> New Documents</ion-button>
    </div>
    <div class="document-content">
        <div class="doc-sec-inner">
            <div class="doc-sec-single-block">
                <p>Poforma Invoice</p>
                <ion-button><img src="assets/order-detail/edit.png" alt=""></ion-button>
            </div>
            <div class="doc-sec-single-block">
                <p>Pod</p>
                <ion-button><img src="assets/order-detail/upload.png" alt=""></ion-button>
            </div>
        </div>
    </div>
</div>