<ion-header>
  <ion-toolbar>
    <ion-title>Order Status</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="steps">
    <div class="step">
      <div class="step-header">
        <div class="main-header">Ordered <span class="subheader">Fri, 13th Nov 2014</span></div>
        <div>
          <div class="header">Your order has been placed.</div>
          <div class="subheader">Fri, 13th Nov 2014</div>
        </div>
      </div>
    </div>
    <div class="step minimized">
      <div class="step-header">
        <div class="main-header">Ordered <span class="subheader">Fri, 13th Nov 2014</span></div>
        <div>
          <div class="header">Seller has processed your order.</div>
          <div class="subheader">Mon, 16th Nov 2014</div>
        </div>
        <div>
          <div class="header">Seller has processed your order.</div>
          <div class="subheader">Mon, 16th Nov 2014</div>
        </div>
        <div>
          <div class="header">Seller has processed your order.</div>
          <div class="subheader">Mon, 16th Nov 2014</div>
        </div>
      </div>
    </div>
    <div class="step minimized">
      <div class="step-header">
        <div class="main-header">Delivered <span class="subheader">Fri, 13th Nov 2014</span></div>
        <div>
          <div class="header">Seller has processed your order.</div>
          <div class="subheader">Mon, 16th Nov 2014</div>
        </div>
        <div>
          <div class="header">Seller has processed your order.</div>
          <div class="subheader">Mon, 16th Nov 2014</div>
        </div>
        <div>
          <div class="header">Seller has processed your order.</div>
          <div class="subheader">Mon, 16th Nov 2014</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>