<ion-header [translucent]="false" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <div class="back-button" (click)="navigate()">
			<img src="assets/my-bids/back.svg" />
		</div>
    <ion-title>Notification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-div">
    <div class="single-block">
      <div class="single-block-inner">
        <p class="first-child">Delivery from Haidrabad</p>
        <p class="second-child">9 Mar, 2021 - 10:49 PM</p>
      </div>
    </div>
    <div class="single-block">
      <div class="single-block-inner">
        <p class="first-child">Delivery from Haidrabad</p>
        <p class="second-child">9 Mar, 2021 - 10:49 PM</p>
      </div>
    </div>
    <div class="single-block">
      <div class="single-block-inner">
        <p class="first-child">Delivery from Haidrabad</p>
        <p class="second-child">9 Mar, 2021 - 10:49 PM</p>
      </div>
    </div>
    <div class="single-block">
      <div class="single-block-inner">
        <p class="first-child">Delivery from Haidrabad</p>
        <p class="second-child">9 Mar, 2021 - 10:49 PM</p>
      </div>
    </div>
  </div>
</ion-content>
