<ion-content>
  <div class="main-div">
    <div class="head-div">
      <h2>Rating Review</h2>
    </div>
    <div class="star-div">
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
      <ion-icon name="star-outline"></ion-icon>
    </div>
    <div class="rating-div">
      5.0
    </div>
    <div class="text-area-sec">
      <p>Write Your Review (200 Character)</p>
      <ion-textarea placeholder="Enter Note"></ion-textarea>
    </div>
    <ion-row>
      <ion-col size="12" class="ion-text-center m-t-10 m-b-20">
        <ion-button color="success" shape="round" class="btn" (click)="navigate()">SUBMIT</ion-button>
        <ion-button color="danger" shape="round" class="btn" (click)="navigate()">CANCEL</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>