.main-div {
    text-align: center;
    margin-top: 30%;
    .head-div {
        border-bottom: 1px solid #9a9cb8;
    }
    h2 {
        margin: 0;
        padding: 15px !important;
    }
    .star-div {
        padding: 10px;
        font-size: 25px;
        ion-icon:not(:last-child) {
            padding-right: 10px;
        }
    }
    .rating-div {
        padding: 5px;
        font-size: 20px;
    }
    .text-area-sec {
        padding: 20px;
        text-align: initial;
        p {
            font-family: "montserratsemibold";
            text-transform: uppercase;
            padding-bottom: 10px;
            font-size: 14px;
        }
        ion-textarea {
            background: #fff;
            border-radius: 10px;
            box-shadow: 0 22px 56px rgb(0 0 0 / 9%);
            color: #000;
            padding: 5px 15px;
        }
    }
    .btn {
        height: 44px !important;
        width: 130px !important;
        font-size: 15px !important;
    }
}

ion-content {
    // --background: url("../../../assets/order-detail/header.png") no-repeat 100% 0% / contain;
    --background: rgb(244, 245, 249);
    // border: none;
    // background-repeat: no-repeat;
    // background-attachment: scroll;
    // background-size: cover;
    // background-position: center bottom;
    --offset-top: 79px !important;
}
ion-header {
    background: url("../../../assets/my-bids/header.png") no-repeat 100% 0% / contain;
    border: none;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center top;
}
ion-toolbar {
    --background: transparent;
    --ion-color-base: transparent !important;
    color: #fff;
    ion-menu-button {
        color: #fff;
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
}
.bg-color {
    --background: #fff !important;
}
