.app-form .form-background {
  margin: 0px 15px;
  background: #fff;
  border-radius: 10px;
  padding: 0px 15px;
}

.app-form ion-row {
  margin-bottom: 10px;
}

.app-form ion-row ion-col ion-label {
  font-family: 'montserratsemibold';
  text-transform: uppercase;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-form ion-row ion-col ion-item {
  margin-top: 5px;
  --background: #F7F6FB;
  box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 12%);
  border-radius: 3px;
}

.app-form ion-row ion-col ion-item ion-input,
.app-form ion-row ion-col ion-item ion-select {
  width: 100%;
  height: 48px;
  font-size: 14px;
  color: #9A9CB8;
}

.app-form ion-row ion-col ion-button.btn {
  height: 50px;
  width: 230px;
  font-family: 'montserratbold';
  font-size: 16px;
}

.app-form ion-row ion-col .item-input.is-password-field {
  --inner-padding-end: 0;
}

.app-form ion-row ion-col .item-input.is-password-field ion-icon {
  font-size: 18px;
  color: #808C9C;
}

.app-form .link {
  color: #5A35F4;
}

.app-form .label-color {
  color: #9A9CB8;
}

.app-form .signup-label {
  font-size: 12px !important;
}

.app-form .m-t-40 {
  margin-top: 40px !important;
}

.app-form .m-t-20 {
  margin-top: 20px !important;
}

.app-form .m-b-20 {
  margin-bottom: 20px !important;
}

.app-form .m-t-10 {
  margin-top: 10px !important;
}

.app-form .m-b-10 {
  margin-bottom: 10px !important;
}

.app-form .upload-section {
  width: 100%;
  height: 120px;
  background: #F7F6FB;
  margin-top: 5px;
  box-shadow: 0px 1px 6px 0px rgb(0 0 0 / 12%);
  border-radius: 3px;
  position: relative;
}

.app-form .upload-section img,
.app-form .upload-section .upload-input {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  margin: auto;
  width: 35px;
}

.app-form .upload-section .upload-input {
  z-index: 1;
  width: 100% !important;
  height: 100% !important;
  opacity: 0;
}

.popup-form ion-row ion-col ion-item {
  box-shadow: 0px 1px 3px 0px rgb(0 0 0 / 12%) !important;
}
.popup-form ion-row ion-col ion-item ion-input,
.popup-form ion-row ion-col ion-item ion-select {
  font-size: 13px !important;
  height: 44px !important;
  color: #858692 !important;
}
.popup-form ion-row {
  margin-bottom: 0px !important;
}
.popup-form ion-row ion-col ion-label {
  font-family: 'montserrat';
  text-transform: capitalize;
  font-size: 11px;
}
.popup-form .btn {
  height: 44px !important;
  width: 130px !important;
  font-size: 15px !important;
}

.popup-form ion-row ion-col ion-label.title {
  font-family: 'montserrat';
  text-transform: capitalize;
  font-size: 14px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.calDiv {
  position: absolute;
  width: 100%;
  top: 0;
  height: 100%;
  display: flex;
  z-index: 99999999;
}
.pos-rel {
  position: relative;
}