<div class="od-summary-full">
    <div class="single-block">
        <div class="single-block-inner">
            <img src="assets/order-detail/map2.png" alt="">
            <div class="block-content">
                <p>From</p>
                <p>Akshya Nagar, Bangalore-560016</p>
            </div>
        </div>
        <div class="single-block-inner">
            <img src="assets/order-detail/map1.png" alt="">
            <div class="block-content">
                <p>To</p>
                <p>Akshya Nagar, Bangalore-560016</p>
            </div>
        </div>
    </div>
    <div class="single-block">
        <div class="single-block-inner">
            <img src="assets/order-detail/calendar.png" alt="">
            <div class="block-content">
                <p>Order Date</p>
                <p>09 Mar, 2021 - 10:49 AM</p>
            </div>
        </div>
        <div class="single-block-inner">
            <img src="assets/order-detail/number.png" alt="">
            <div class="block-content">
                <p>Order Number</p>
                <p>TP00000596</p>
            </div>
        </div>
    </div>
    <div class="single-block">
        <div class="single-block-inner">
            <img src="assets/order-detail/car.png" alt="">
            <div class="block-content">
                <p>Vehicle Details</p>
                <p>NL01N5951 - 40ft trailer</p>
            </div>
        </div>
        <div class="single-block-inner">
            <img src="assets/order-detail/man.png" alt="">
            <div class="block-content">
                <p>Driver Details</p>
                <p>Ajit Singh - 98547Xxxxx</p>
            </div>
        </div>
    </div>
    <div class="map-block">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3719.529227144775!2d72.87359431533405!3d21.21085258691183!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04f7350edb74f%3A0xfd1246e6a5910fb7!2sKargil%20Chowk%2C%20Near%20Kargil%20Chowk%2C%20Kevat%20Nagar%2C%20Punagam%2C%20Varachha%2C%20Surat%2C%20Gujarat!5e0!3m2!1sen!2sin!4v1620734173661!5m2!1sen!2sin"
             style="border:0; width: 100%; height: 300px;" allowfullscreen="" loading="lazy"></iframe>
    </div>
</div>