<div class="od-payment-full">
    <div class="add-new-button">
        <ion-button><ion-icon slot="start" name="add"></ion-icon> New Payment</ion-button>
    </div>
    <div class="content-section">
        <div class="content-section-inner">
            <div class="content-sec-single-block">
                <p>Balance to be Paid</p>
                <p>&#8377; 8615</p>
            </div>
            <div class="content-sec-single-block">
                <p>Total Paid</p>
                <p>&#8377; 79735</p>
            </div>
        </div>
    </div>
    <div class="history-section">
        <div class="history-section-inner">
            <div class="history-single-block">
                <div class="date-div">
                    09 Mar, 2021
                </div>
                <div class="money-div">
                    &#8377; 77527
                </div>
                <div class="action-div">
                    <ion-button><img src="assets/order-detail/edit.png" alt=""></ion-button>
                    <ion-button><img src="assets/order-detail/delete.png" alt=""></ion-button>
                </div>
            </div>
            <div class="history-single-block">
                <div class="date-div">
                    09 Mar, 2021
                </div>
                <div class="money-div">
                    &#8377; 77527
                </div>
                <div class="action-div">
                    <ion-button><img src="assets/order-detail/edit.png" alt=""></ion-button>
                    <ion-button><img src="assets/order-detail/delete.png" alt=""></ion-button>
                </div>
            </div>
            <div class="history-single-block">
                <div class="date-div">
                    09 Mar, 2021
                </div>
                <div class="money-div">
                    &#8377; 77527
                </div>
                <div class="action-div">
                    <ion-button><img src="assets/order-detail/edit.png" alt=""></ion-button>
                    <ion-button><img src="assets/order-detail/delete.png" alt=""></ion-button>
                </div>
            </div>
        </div>
    </div>
</div>